body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
    color: #333;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #40354a;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.navbar img {
    height: 40px;
}
.navbar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #35424a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.post {
    margin: 20px;
    background: white;
    background-image: url(backend/59bcc356bedf9baacd8e07e0d665a493.jpg);
    /* text-decoration-color: #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    align-items: center;
}
.post img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}
.post p {
    padding: 15px;
}
.submit{
    padding: 5px;
    text-decoration-color:#ddd;
    background-color: lightgreen;
}
.bodyy{
 background-image: url(backend/59bcc356bedf9baacd8e07e0d665a493.jpg);
 }


